<!doctype html>
<html>
    <head>
        <title>IRA IPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            h1, h2, h3, h4, h5, h6 {
                margin: 0;
            }
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 12px;
            }
            table {
                width: 100%;
                table-layout: auto;
                border-collapse: collapse;
            }
            tbody tr:nth-child(odd) {
                background-color: #cccccc4d;
            }
            th,td {
                padding: 5px;
            }
            hr {
                border: solid 1px #cccccc4d;
            }
        </style>
        <style type="text/css" media="print">
            @page {
                margin: 1cm 0.3cm 0.3cm 1.5cm;
                size: portrait;
            }
            table {
                font-size: 85%;
            }
            th,td {
                padding: 2px;
            }
        </style>
    </head>
    <body>
        <h1>Laporan Rincian Penerimaan Iuran</h1>
        <h3>Tanggal {{from|date('d F Y')}} S/D {{to|date('d F Y')}}</h3>
        <h3>Jenis Iuran: {{iuranType}}</h3>
        <h3>Tipe Pembayaran: {{payment}}</h3>
        <br />
        <table>
            <thead>
                <tr>
                    <th width="20px" align="right" rowspan="2">No.</th>
                    <th width="80px" align="center" rowspan="2">Tgl. Transaksi</th>
                    <th align="center" colspan="2">Bayar Untuk</th>
                    <th align="left" rowspan="2">Perumahan</th>
                    <th align="left" rowspan="2">Alamat</th>
                    <th width="100px" align="right" rowspan="2">Jumlah</th>
                    <th align="left" rowspan="2">Kolektor</th>
                    <th width="50px" align="left" rowspan="2">Tipe Pembayaran</th>
                </tr>
                <tr>
                    <th width="50px" align="center">Dari</th>
                    <th width="50px" align="center">Sampai</th>
                </tr>
            </thead>
            <tbody>
                {% for penerimaan in penerimaanIuran %}
                    <tr>
                        <td align="right">{{loop.index}}</td>
                        <td align="center">{{penerimaan.transactionDate|date('d F Y')}}</td>
                        <td align="center">{{penerimaan.periodStart|date('F Y')}}</td>
                        <td align="center">{{penerimaan.periodEnd|date('F Y')}}</td>
                        <td>{{penerimaan.Penduduk.Perumahan.perumahan}}</td>
                        <td>{{penerimaan.Penduduk.address}}</td>
                        <td align="right">{{penerimaan.amount|number_format(2)}}</td>
                        <td>{{penerimaan.Kolektor.name}}</td>
                        <td>{{penerimaan.paymentType}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
