<!doctype html>
<html>
    <head>
        <title>IRA IPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            h1, h2, h3, h4, h5, h6 {
                margin: 0;
            }
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 12px;
            }
            table {
                width: 100%;
                table-layout: auto;
                border-collapse: collapse;
            }
            tbody tr:nth-child(odd) {
                background-color: #cccccc4d;
            }
            th,td {
                padding: 5px;
            }
            hr {
                border: solid 1px #cccccc4d;
            }
            .total {
                font-weight: 500;
                background-color: transparent !important;
                border-top: double 4px;
            }
        </style>
        <style type="text/css" media="print">
            @page {
                margin: 1.5cm 1cm 1.5cm 2.5cm;
                size: portrait;
            }
            table {
                font-size: 85%;
            }
            th,td {
                padding: 2px;
            }
        </style>
    </head>
    <body>
        <h1>Laporan Rincian Penerimaan Iuran</h1>
        <h3>Tanggal {{from|date('d F Y')}} S/D {{to|date('d F Y')}}</h3>
        <h3>Jenis Iuran: {{iuranType}}</h3>
        <h3>Tipe Pembayaran: {{payment}}</h3>
        <br />
        <table>
            <thead>
                <tr>
                    <th width="20px" align="right" rowspan="2">No.</th>
                    <th width="80px" align="center" rowspan="2">Tgl. Transaksi</th>
                    <th align="center" colspan="2">Bayar Untuk</th>
                    <th width="60px" align="right" rowspan="2">Jumlah</th>
                    <th width="50px" align="left" rowspan="2">Tipe Pembayaran</th>
                    <th>Keterangan</th>
                </tr>
                <tr>
                    <th width="80px" align="center">Dari</th>
                    <th width="80px" align="center">Sampai</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for penerimaan in penerimaanIuran %}
                    {% set total = total + penerimaan.amount %}
                    <tr>
                        <td align="right">{{loop.index}}</td>
                        <td align="center">{{penerimaan.transactionDate|date('d F Y')}}</td>
                        <td align="center">{{penerimaan.periodStart|date('F Y')}}</td>
                        <td align="center">{{penerimaan.periodEnd|date('F Y')}}</td>
                        <td align="right">{{penerimaan.amount|number_format(2)}}</td>
                        <td>{{penerimaan.paymentType}}</td>
                        <td>{{penerimaan.summary}}</td>
                    </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="4">Total</td>
                    <td align="right">{{ total|number_format(2) }}</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
